body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 0 100px;
}

header p{
    font-size: 24px;
    font-weight: 700;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 14px;
}

h1{
    font-size: 48px;
}

.hero{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 50px 100px;
}

.hero-text{
    text-align: left;   
    padding: 0 100px 0 0;
}

.hero-text p{
    font-size: 18px;
}

.hero-text button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    background-color: blanchedalmond;
    width: 370px;
    height: 220px;
    border-radius: 25px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 100px;
}

.cards{
    display: flex;
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.card p{
    font-size: 18px;
    text-align: center;
    margin: 5px;
}

.figure{
    width: 180px;
    height: 180px;
    border-radius: 15px;
    border: 5px solid #3882F6;
    background-color: #F9FAF8;
}
